[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "externals/stablehlo"]
	path = externals/stablehlo
	url = git@github.com:openxla/stablehlo.git
